# Ignore everything
*

# Except this folder
!src/
!src/**

# Optional: allow README or LICENSE if needed
!README.md
!LICENSE

# Ignore node_modules, build, env, logs, system files etc.
node_modules/
build/
coverage/
*.log
*.env
*.local
*.DS_Store
